nav {
  height: 65px;
  background-color: cornflowerblue;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand, .nav-link {
  color: white;
}
.profile_picture {
  height: 150px;
  width: 150px;
  float: left;
}
.sidebar{
  width: 150px;
}
.side_item {
  height: 30px;
  width: 150px;
  float: left;
}
.main {
  width: 100%;
  height: 100%;
  float: left;
}
.display{
  float: right;
  display: inline-block;
  vertical-align: top;
}
 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
