div.col-md-4
  h3 Lists
  div
    button((click)="test()")
      |click
    <div *ngFor='let obj of listViewService.lists; let k = index'> {{obj.title}} <div *ngFor='let song of obj.items; let i = index'> {{song}} </div> </div>


