div.col-md-8
  h3 Lists
  div
    <div *ngFor='let obj of listViewService.lists; let k = index'> <h4>{{obj.title}}</h4> <button class='btn btn-default' (click)="save()">Save List</button> <div *ngFor='let item of obj.items; let i = index'> {{item}} </div> </div>

