div.col-md-12
  <label> {{list.title | json}} </label>
  <input id='item' type='text' placeholder='Add New' [(ngModel)]="new_list_item"/>
  <p> {{new_list_item}} </p>
  button.btn.btn-default((click)='addToList()') Add to list
  br
  <list-item *ngFor='let item of list.items; let i = index' [item]='item'></list-item>