div#wrapper
  div#sidebar-wrapper
    //- nav.navbar.navbar-full.navbar-dark(style="margin-bottom:0px;  border-radius:0px;")
    ul.sidebar-nav
      li.sidebar-brand
        a(routerLink="/") Music ^
      <li [class.active]="router.isActive('/',true)" class="nav-item active">
        a(routerLink="/login") Login
      <li [class.active]="router.isActive('/login', true)" class="nav-item active">
        a((click)="loginService.deauthenticate()") Logout
      <li [class.active]="router.isActive('/', true)" class="nav-item active">
        a(routerLink="/mylist") My Lists
      <li [class.active]="router.isActive('/', true)" class="nav-item active">
        a(routerLink="/find") Discover
      <li [class.active]="router.isActive('/', true)" class="nav-item active">
        a(routerLink="/saved") Saved Lists
  div#page-content-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          router-outlet
