<div class="wrapper">
  <h2> Discover New Music </h2>
  <div>
    <div *ngFor='let obj of findService.lists; let k = index'> 
      <div class="uk-panel-box">
        <h4>{{ obj.title }} from {{ obj.username }}</h4> 
        <button class='uk-button' (click)="saveList(k)"> 
          Save
        </button> 
        <ul class="uk-list uk-list-line">
          <li *ngFor='let item of obj.items; let i = index'>
            {{item}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
